<div class="index">
    <h1>Welcome <b class="username">{{#if User}}{{User.username}}{{/if}}.</b></h1>
    <p>Make your journey more fun and check every point you visit on the map.</p>
    <hr>
    <p>Create your journey now.</p>
    <p><a href="/user/create-journey" class="btn btn-primary">Create <i class="fa fa-puzzle-piece" aria-hidden="true"></i></a></p>
</div>