<center>
    <h1>
        Markers of your journey <i class="fa fa-globe" aria-hidden="true"></i>
    </h1>
</center>
<hr>
<div id="map"></div>
<hr>
<center>
    <button class="btn btn-success" onclick="markerMaps()">Show</button>
    <button class="btn btn-danger" onclick="goBack()">Back</button>
</center>

<script>
    function markerMaps() {
        let text = '{{coba}}';
        alert(text);
    }

</script>