<center>
    <h1>
        Check Location <i class="fa fa-globe" aria-hidden="true"></i>
    </h1>
</center>
<p>
    <div id="map"></div>
    <hr>
    <center>
        <span>Please Allow your browser to access your location to get your current location.</span><br>
        <button class="btn btn-default" onclick="myPosition()">Check my position</button>
    </center>
</p>