<center>
    <h1>
        Markers of <font color="red">{{tittle}}</font> <i class="fa fa-globe" aria-hidden="true"></i>
    </h1>
</center>
<hr>
<div id="map"></div>
<hr>
<div id="test"></div>
<center>
    <button class="btn btn-success" onclick="markerMaps()">Show</button>
    <button class="btn btn-danger" onclick="goBack()">Back</button>
</center>
<script>
function markerMaps() {
    let data = {{{data}}};
    let obj = Object.keys(data);

    for(let i = 0; i < obj.length; i++){
        let marker = new google.maps.Marker({
            position: { lat: data[i].latitude, lng: data[i].longitude },
            map: map,
            animation: google.maps.Animation.DROP
        });
    }

    map.setZoom(5);
}
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{API_KEY}}&callback=initMap"type="text/javascript"></script>