<center>
    <h1>
        Markers of <font color="red">{{tittle}}</font> <i class="fa fa-globe" aria-hidden="true"></i>
    </h1>
</center>
<hr>
<div id="map"></div>
<hr>
<div id="test"></div>
<center>
    <button class="btn btn-success" onclick="markerMaps()">Show</button>
    <button class="btn btn-danger" onclick="goBack()">Back</button>
</center>
<script>
function markerMaps() {
    let data = {{{data}}};
    let obj = Object.keys(data);
    let infowindow = new google.maps.InfoWindow();

    let marker, i;
    // proses penambahan marker lainnya di jogja
    for (i = 0; i < obj.length; i++) {  
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(data[i].latitude, data[i].longitude),
        map: map,
         
      });
      // Menampilkan informasi lokasi    
      google.maps.event.addListener(marker, 'click', ((marker, i)=> {
        return function() {
          infowindow.setContent(data[i].nameplace);
          infowindow.open(map, marker);
        }
      })(marker, i));

    }

    map.setZoom(5);
}
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{API_KEY}}&callback=initMap"type="text/javascript"></script>