<center>
    <h2><i class="fa fa-map-marker" aria-hidden="true"></i> Marking </h2>
</center>
{{#if messagesMarker}}
<div class="alert alert-success">{{messagesMarker}}</div>
{{/if}}
<hr>
<form action="/user/update-marker" method="post">
    <div class="form-group col-md-12">
        <label for="Name Place">Name Place</label>
        <input type="text" class="form-control" name="namePlace" value="{{data.nameplace}}" required>
    </div>
    <div class="form-group col-md-6">
        <label for="Latitude">Latitude</label>
        <input type="text" class="form-control" name="lat" id="lat" value="{{data.latitude}}" readonly>
    </div>
    <div class="form-group col-md-6">
        <label for="Longitude">Longitude</label>
        <input type="text" class="form-control" name="lng" id="lng" value="{{data.longitude}}" readonly>
    </div>
    <div class="form-group col-md-12">
        <center>
            <button type="submit" class="btn btn-warning">Update <i class="fa fa-cog" aria-hidden="true"></i></button>
            <a href="#" onclick="goBack()" class="btn btn-danger">Back </a>
        </center>
    </div>
</form>