<center>
    <h2><i class="fa fa-map-marker" aria-hidden="true"></i> Marking </h2>
</center>
{{#if messages}}
    <div class="alert alert-success">{{messages}}</div>
{{/if}}
<hr>
<form action="/user/create-marker" method="post">
    <div class="form-group col-md-12">
        <label for="Name Place">Name Place</label>
        <input type="text" class="form-control" name="namePlace" placeholder="Name Place" required>
    </div>
    <div class="form-group col-md-6">
        <label for="Latitude">Latitude</label>
        <input type="text" class="form-control" name="lat" readonly>
    </div>
    <div class="form-group col-md-6">
        <label for="Longitude">Longitude</label>
        <input type="text" class="form-control" name="long" readonly>
    </div>
    <center>
        <button type="submit" class="btn btn-success">Add <i class="fa fa-puzzle-piece" aria-hidden="true"></i></button>
        <a href="/user/create-marker-done" class="btn btn-primary">Done <i class="fa fa-check-circle" aria-hidden="true"></i></a>
    </center>
</form>